body{
    
    background-repeat: no-repeat;
    background-size: cover;
   

}



.relogio{
    justify-content: center;
    color: green;
    align-items: center;
    margin-left: 1%;
    padding-top: 10px;
    font-size: 55px;
}


.frase{
    color: black;
    font-size: 30px;
    font-family: fantasy;
}






footer{


    background: rgba(170, 165, 165, 0.849);
    font-family: fantasy;
}





.container{
background: linear-gradient(orange, white,orange);
 margin-left: 60vh;
margin-top: 35vh; 
margin-right: 90vh;
color: red;
padding: 15px;
border-radius: 20px;
border: 0;

}




h1{
    color: white;
    font-size: 30px;
   font-family: sans-serif;
}




footer{
    background: linear-gradient(green, white, red);
    margin: 20px;
    margin-top: 25px;
    border: 30px;
}